langchain_community 
tiktoken  
langchainhub 
langchain 
langgraph  
python-dotenv
langchain-text-splitters
langchain_huggingface
faiss-cpu
ipykernel
openai
scikit-learn
sentence-transformers>=2.7.0
torch>=2.0.0          